*{
    margin:0;
    padding:0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0 none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}



body{
    background: url(../images/bg3860.jpg?v=1) no-repeat top center / 100%,#030000;
}
.page-wrapper{
    overflow: hidden;
    width: 100%;
}
.form-register{
    width:518px;
    height:880px;
    background: url(../images/bg-form.png) no-repeat top center / 100%;
    margin: -180px 10px -120px auto;
    /*margin: auto;*/
    position: relative;
    z-index: 100;
    -ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Safari */
    transform: scale(0.8,0.8); /* Standard syntax */
}

.form-register .form-group{
    margin-bottom: 15px;
}
.form-register .form-control{
    border: 1px solid #fbfbfb82;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset 0 0 15px #0000006e;
    background: #00000030;
    background: -moz-linear-gradient(top, #00000030 0%, #00000030 100%);
    background: -webkit-linear-gradient(top, #00000030 0%,#00000030 100%);
    background: linear-gradient(to bottom, #00000030 0%,#00000030 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000030', endColorstr='#00000030',GradientType=0 ); /* IE6-9 */
    color:#fdb234;
    font-size:16px;
    padding:20px 15px;
    font-weight: bold;
}

.input-username{
    background-image: url(../images/ic-user.png) !important;
    background-repeat: no-repeat !important;
    background-position: 20px !important;
    padding-left: 50px !important;
}

.input-password{
    background-image: url(../images/ic-password.png) !important;
    background-repeat: no-repeat !important;
    background-position: 20px !important;
    padding-left: 50px !important;
}
.input-captcha{
    /*background-image: url(../images/icon-refresh.png) !important;
    background-repeat: no-repeat !important;
    background-position: 20px !important;*/
    padding-left: 50px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
}

.form-register .form-inner{
    width:75%;
    margin: 0 auto;
    padding-top:280px;
}

.form-group .row{
display: flex;
}
.form-group .col-7{
    width:70%;
    padding-right:10px;
}
.form-group .col-5{
    width:30%;
}
.captcha-bl{
    position: relative;
}
.form-control.btn-refresh-captcha{
    background: url(../images/icon-refresh.png) no-repeat top left /100%;
    width:50px;
    height:50px;
    position: absolute;
    top:9px;right:10px;
    padding:0;
    border:none;
    box-shadow: inherit;
    cursor: pointer;
}

#btnRegister{
    background: url(../images/btn-submit.png) no-repeat top left /100%;
    width: 365px;
    height:132px;
    /*margin-left: 15px;*/
    margin: auto;
    padding: 20px;
}
.social{
    /*position: fixed;*/
    bottom: 0px;
    margin-left: 30px;
    list-style: none;
    z-index: 1;
    padding-top: 40px;
}
.social ul>li{
    display: inline;
    float: left;
    margin-left: -10px;
}
.ic-fb{
    display: block;
    background: url(../images/fb.png) no-repeat top left /100%;
    width: 50px;
    height: 50px;

}
.ic-gg{
    display: block;
    background: url(../images/gg.png) no-repeat top left /100%;
    width: 50px;
    height: 50px;
}
.ic-tw{
    display: block;
    background: url(../images/tw.png) no-repeat top left /100%;
    width: 50px;
    height: 50px;
}
.ic-in{
    display: block;
    background: url(../images/in.png) no-repeat top left /100%;
    width: 50px;
    height: 50px;
}

input[type=checkbox].form-control{
    width:0;height:0;
    visibility: hidden;
    position: absolute;
}
input[type=checkbox] + label{
    color:#fdb234;
   font-size: 16px;
   line-height: 36px;
}
input[type=checkbox] + label:before{
    content:"";
    display: block;
    float: left;
    width:36px;height:36px;
    background: url(../images/ipt-check.png) no-repeat top left / 100%;
    margin-right:5px;
}
input[type=checkbox]:checked + label:before{
    content:"";
    width:36px;height:36px;
    background: url(../images/ipt-checked.png) no-repeat top left / 100%;
}

#view{
    padding:10px 0;
    color:#fff;
    display: none;
    text-align: center;
}
canvas{
    display: block;
    position: absolute;
    top: 0px;
    opacity: 0.5;
}
#copyright{
    float: right;
    color: #fff;
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.main-text{
    margin:0 auto;
    background: url(../images/text.png) no-repeat bottom center;
    height: 172px;
    width: 490px;
    background-size: cover;
    margin-top: 20px;
}

.bgBottom {
    /* background: url(../images/bg-bottom.png) no-repeat bottom center; */
    background-size: cover;
    width: 100%;
    height: 127px;
    position: fixed;
    bottom: 0px;
}


@media(max-width: 480px){
    .form-register{
        width: 90%;
        height:800px;
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
        margin-top: -70px;

    }
    .form-register .form-inner{
        width: 90%;
    }
    .form-inner{
        padding-top: 150px !important;
        -ms-transform: scale(0.7,0.7);
        -webkit-transform: scale(0.7,0.7);
        transform: scale(0.7,0.7);

    }
    .main-text{
        /*margin-top: 100px;*/
        background-size: 80%;
        margin-left: -10px;
    }

    #btnRegister{
        width: 100%;
        margin: auto;
    }
    .social{
        width: 100%;
        left: auto;
        top: -90px;
        left: -25px;
        position:relative;
    }
    .social ul{
        margin: 0 auto;
        width: 160px;
    }
    .social li{
        margin-left: 10px;
    }
    body{
        background: url(../images/bg.jpg) no-repeat top center / 160%, #030000;
    }


}
.fixed{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.logo{
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}
.logo .gamvip{
    background: url(../images/logo.png) no-repeat;
    height: 120px;
    width: 300px;
    margin: auto;
    background-size: contain;
}